body{
    margin: 0px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.weatherform{
    margin: 20px;
}
.input{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px;
    background-color: hsla(0, 0%, 20%,0.3);
}
button{
    padding: 10px 20px;
    font-weight: 400;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: hsl(122, 39%, 50%);
    cursor: pointer;
}
h1{
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px,0;
}
.card{
    background:linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
    padding: 30px;
    border-radius: 10px;
    min-width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px hsl(0, 0%, 50%);
 

    
}

.CityDisplay,.tempDisplay{
    font-size: 3.5rem;
    color: hsla(0, 0%, 0%,0.8);
    font-weight: bold;
    margin-bottom: 15px;
}

.humidDisplay{
    font-weight: bold;
    margin-bottom: 15px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;

}
.weatherEmoji{
    margin: 0px;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    color: hsla(0, 0%, 0%,0.75);
}